// option
@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin all-transition($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  transition: all $time ease;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time ease;
  -moz-transition: $property $time ease;
  transition: $property $time ease;
}

@mixin iconsize($size) {
  width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;
  -webkit-transform: translate(-$size/2, -$size/2);
  -moz-transform: translate(-$size/2, -$size/2);
  -ms-transform: translate(-$size/2, -$size/2);
  transform: translate(-$size/2, -$size/2)
}