// color
$color_default: #545454;
$color_white: #fff;
$color_main: #efefef;
$color_highlight: #DD4A52;
$color_highlight_active: rgba(255, 59, 65, 0.5);
$color_panel:#caebf2;
$color_suny_red: #D60036;
$color_suny_blue: #4B68C5;
$color_warm_red: #EA7F9A;
$color_dark_gray: #494949;
$color_warm_gray: #75746f;
$color_smoke_gray: #DDDDDB;

// font-size
$font_16: 16px;
$font_18: 18px;
$font_24: 24px;
$font_36: 36px;
$font_48: 48px;
