@import "fonts";
// common style
// button
.md-button {
  width: auto;
  height: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  &.md-table-pagination-next,
  &.md-table-pagination-previous {
    //pagination
    .md-icon {
      top: 50% !important;
      left: 50% !important;
    }
  } //&:hover:not([disabled]):not(.md-raised) {
  //  background-color: transparent
  //}
}

// icon
.md-icon {
  display: inline-block;
  width: auto;
  height: auto;
  min-width: auto;
  min-height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  &.dot {
    @include iconsize(6px)
  }
}

.md-chip {
  .md-icon {
    top: 50% !important;
    left: 50% !important;
  }
}
.md-clearable{
  .md-clear-input{
    .md-icon{
      top:5px;
    }
  }
}

.md-clear-input {
  .md-icon {
    transform: none
  }
}

//progress
.md-progress {
  height: 10px;
}

// tabs
.md-tabs {
  &.md-theme-default {
    >.md-tabs-navigation {
      background-color: transparent;
      .md-tab-header {
        color: $color_default2;
        &.md-active {
          color: $color_highlight;
        }
        &-navigation-button {
          background-color: gainsboro;
        }
      }
    }
  }
  .md-tabs-wrapper {
    position: static;
    transition: none;
  }
}

.md-tabs.md-dynamic-height .md-tabs-content {
  transition: none;
}

// table
#app {
  .md-table-head-text {
    display: block;
    padding: 0 !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    .md-icon {
      display: none;
    }
  }
  .md-table-cell {
    vertical-align: middle;
    .md-table-cell-container {
      padding: 6px 1%;
      text-align: center;
    }
  }
  .visual {
    .md-table-cell-container {
      padding: 8px 1%;
    }
  }
  .insert-button {
    .md-table-cell-container {
      justify-content: center;
      span {
        min-width: 25px;
      }
      .md-button {
        margin-left: 10px;
      }
      .md-icon {
        top: 50%;
        left: 62%;
        &.normal {
          color: transparent
        }
        &.alpha {
          color: color(alpha);
        }
        &.bravo {
          color: color(bravo);
        }
        &.charile {
          color: color(charile);
        }
        &.delta {
          color: color(delta);
        }
      }
    }
  }
}

// table
.md-table table {
  overflow: visible
}

// sort button -dashboard
.dashboard-basic {
  .md-button-toggle {
    // toggle button
    width: 160px;
    border: 1px solid $color_border_dark;
    @include border-radius(5px);
  }
}

// use template
.template-thumb {
  padding: 10px;
  background-color: color(white);
  border: 1px solid $color_border;
  @include defaultShadow;
  p {
    height: 24px;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }
  .md-button-toggle {
    position: absolute;
  }
  .visual {
    margin-top: 42px;
    &.table {
      margin-top: 50px;
    }
    .md-table-head-container {
      height: 48px;
      padding: 12px 0;
    }
  }
  .md-table-head-container {
    height: 38px;
    padding: 5px 0;
  }
  .md-table-cell {
    height: auto;
  }
}

// dialog
.md-dialog-container {
  flex-flow: row wrap;
}

.md-dialog {
  display: flex;
  flex: 1 0 auto;
  max-width: 80%;
  max-width: 1200px;
  height: 600px;
  padding: 10px;
  overflow: visible;
}

.register{
  .md-dialog{
    max-width:400px;
    height:auto;
  }
}

.dashboard-set {
  .md-dialog {
    max-width: 750px;
    height: auto;
    padding: 0;
    .md-dialog-content {
      padding: 0;
    }
  }
}

.group-management-set {
  .md-dialog {
    max-width:900px;
    height: auto;
  }
  .item-root {
    >.md-list-expand {
      height: 484px;
      overflow-y: auto;
    }
  }
}

// date picker
.md-tabs-wrapper {
  height: 100%;
}
