@import "mixins";
@import "colors";
// color
$color_default: #212E3E;
$color_font:#333;
$color_icon:#93979E;
$color_group:#EFF3F6;
$color_border:#ccc;
$color_border_dark:#aaa;
$color_border_inner:#E0E0E0;
$color_default2: #a3a3a3;
$color_white: #fff;
$color_main: #F2F2F2;
$color_highlight: rgb(204, 55, 65);
$color_highlight_active: rgba(255, 59, 65, 0.5);
// font-size
$font_16: 16px;
$font_18: 18px;
$font_24: 24px;
$font_36: 36px;
$font_48: 48px;
// media size
//chart
